.Modal {
  font-family: Raleway;
  background-color: #242222;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  width: 50vw;
  margin-right: -50%;
  color: white;
 
  h3 {
    color: white;
  }
}
.Modal-image {
  width: 50vw;
  height: 40%;
  img {
    width: 100%;
  }
}
.Modal-Description {
  background-color: #242222;
  height: 60%;
  position: relative;
  padding: 4vh;
  font-size: 2.8vh;
  h1 {
    color: #db3056;
  }
  h2 {
    color: #db3056;
    font-size: 2.5vh;
  }
  hr {
    background-color: white;
  }
}
.modal-github {
  background-color: white;
  padding: 1vh;
  text-decoration: none;
  color: black;
  border-radius: 0.5vh;
  margin-right: 1vw;
}
.svg {
  height: 3.5vh;
  margin-left: 0.7vw;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
